<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="JSONSettingsPath" value="D:\Documents\Study\Master-s-dissertation\App\UTM_ServiceSettings.json" />
        <add key="LogPath" value="D:\Documents\Study\Master-s-dissertation\App\UTM_Log" />
  </appSettings>
</configuration>