<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MSK-HQ-MNT01\ERP_MAIN;Initial Catalog=EgaisExchange;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="HTTPTimeout" value="2000000" />
    <add key="SQLCommandTimeout" value="60" />
    <add key="ServiceTimeout" value="5000" />
    <add key="pathToOutFilesFromUTM" value="/opt/out" />
    <add key="isDeleteAsiiuTicket" value="true" />
    <add key="listUTMIdForDeleteTicket" value="82,84,78" />
    <add key="listOfDocTypeCodeThatDontDelete" value="AsiiuTime,AsiiuTimesign,Asiiu,AsiiuSign"/>
    <add key="pathToTicket" value="/opt/out/Ticket" />
    <add key="ticketTimeSpan" value="01:00:00" />
    <add key="LogPath" value="C:/Soft/ExchangeUTMService/Log/" />
    <add key="PathToTempFiles" value="C:/Soft/ExchangeUTMService/temp/" />
    <add key="FileExtension" value=".xml" />
    <add key="SendingStatus" value="Sending" />
    <add key="ErrorStatus" value="Error" />
    <add key="GetNewData" value="bpUTM_Data_S_GetNewData" />
    <add key="UpdateBuffer" value="bpUTM_Data_S_Update" />
    <add key="SetStatus" value="bpUTM_Data_S_SetStatus" />
    <add key="GetActiveUTM" value="bpUTM_S_GetActiveUTM" />
    <add key="GetUTM" value="bpUTM_S_Get" />
    <add key="UpdateUTMState" value="bpUTM_S_UpdateUTMState" />
    <add key="InsertTicketIntoBuffer" value="bpUTM_Data_S_Add" />
    <add key="StartWork" value="Start work service" />
    <add key="StopWork" value="Service is stopped" />
    <add key="PauseWork" value="Service is paused" />
    <add key="ContinueWork" value="Service work continues" />
    <add key="ShutDownWindows" value="Shut down" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>